/* Sidebar Styles */
.sidebarLeft {
  position: fixed;
  top: 44px;
  left: 0;
  width: 250px;
  height: 100vh;
  padding: 15px;
  background-color: #0d1016;
  border-right: 1.5px solid #2f343a;
  overflow-y: auto;
}

/* Scrollbar Styles */
.sidebarLeft::-webkit-scrollbar {
  width: 0.5em;
}

.sidebarLeft::-webkit-scrollbar-track {
  background-color: #000;
  border-radius: 100vw;
}

.sidebarLeft::-webkit-scrollbar-thumb {
  background-color: #fff;
  border: 0.15em solid #000;
  border-radius: 100vw;
}

.sidebarLeft::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.85);
}

/* Profile Summary */
.profileSummary {
  text-align: center;
  color: #f6f4f1;
}

.profileSummary img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 5px;
}

.profileSummary h3 {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
}

.profileSummary p {
  font-size: 12px;
  color: gray;
  font-weight: bold;
}

.profileCollege {
  font-size: 12px;
  font-weight: bold;
  color: #b5b5b5;
}

/* Edit Profile Button */
.editProfile {
  display: block;
  margin: 10px auto;
  padding: 7px 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 12px;
  width: 150px;
  background-color: #1f6fea;
  color: #f6f4f1;
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
}

.editProfile:hover {
  background-color: hsl(216, 83%, 52%, 0.9);
}

/* Navigation and Explore Sections */
.navigation,
.explore {
  background-color: #0b0b0b;
  border: 1px solid #2f343a;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 15px;
}

.navigation ul,
.explore ul {
  list-style: none;
  padding-left: 0;
}

.navigation h4,
.explore h4 {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  color: #f6f4f1;
  margin-bottom: 10px;
  text-decoration: underline;
}

/* List Item Spacing */
.navigation ul li,
.explore ul li {
  margin-bottom: 10px;
}

.navigation ul li a,
.explore ul li a {
  color: gray;
  font-weight: bold;
  font-size: 12px;
  text-decoration: none;
  position: relative;
  padding-left: 10px;
}

.navigation ul li a:hover,
.explore ul li a:hover {
  color: gray;
}

/* Hover Underline Effect */
.navigation ul li a::after,
.explore ul li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 10px;
  width: 0;
  height: 1px;
  background-color: gray;
  transition: width 0.4s ease-in-out;
}

.navigation ul li a:hover::after,
.explore ul li a:hover::after {
  width: 100%;
}
