body {
  background-color: #0b0b0b;
}

.signup-main {
  height: 100vh; /* Take up the full height of the viewport */
  width: 100vw; /* Take up the full width of the viewport */
  display: flex; /* Make it a flex container to center its content */
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
}

.signup-container-wrapper {
  position: relative;
}

.particle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Make sure it's behind the login form */
}

.signup-container {
  padding: 10px 20px;
  width: 350px;
  height: 400px;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 40px rgba(31, 111, 234,  0.1);
  border: 1px solid rgb(47, 47, 47);
  transition: box-shadow 0.3s ease-in-out;
}

.signup-container:hover {
  box-shadow: 0 0 40px rgba(31, 111, 234,  0.2);
}


.signup-container h1 {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  color: #f6f4f1;
}

.signup-container form input {
  width: 310px;
  padding-left: 40px;
  margin: auto;
  height: 40px;
  font-size: 14px;
  display: block;
  margin-bottom: 10px;
  border-radius: 8px;
  border: 1px solid rgb(47, 47, 47);
  background-color: #000;
  color: #f6f4f1;
  position: relative;
}

.signup-email-icon {
  position: absolute;
  left: 30px;
  top: 100px;
  transform: translateY(-50%);
  color: #888;
  height: 16px;
  width: 20px;
}

.signup-password-icon-1, .signup-password-icon-2 {
  position: absolute;
  left: 30px;
  top: 150px;
  transform: translateY(-50%);
  color: #888;
  height: 16px;
  width: 20px;
}

.signup-password-icon-2 {
  top: 200px;
}

.signup-error-text {
  font-size: 10px;
  margin-top: 8px;
  color: red;
}

.signup-container form input::placeholder {
  color: #808080;
  font-size: 12px;
}

.signup-container form input:focus {
  outline: none;
}

.signup-container form p {
  font-size: 12px;
  margin-bottom: 20px;
}

.signup-container a {
  text-decoration: none;
  color: #7c838c;
}

.signup-container .signup-button {
  width: 310px;
  height: 38px;
  font-weight: bold;
  border-radius: 8px;
  font-size: 14px;
  border: none;
  background-color: #1f6fea;
  margin-bottom: 10px;
  cursor: pointer;
}

.signup-container .signup-button:hover {
  background-color: hsl(216, 83%, 52%, 0.9);
}

.signup-container .google-button {
  background-color: #fff;
  border: none;
  width: 310px;
  height: 40px;
  font-weight: bold;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  padding: 0 80px;
  align-items: center;
}

.signup-container .google-button:hover {
  background-color: #f0f0f0;
}

.signup-container .google-logo {
  width: 20px;
  height: 20px;
}